<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="Roles" asp-controller="Admin">
                Roles
            </a>
        </div>
        <div class="col">
            <a>

            </a>
        </div>
    </div>
</div>
