<div class="container">
    <div class="row">
        <div class="col">
            <p class="display-4">Shop</p>
            <ul>
                <li>
                    <a asp-action="Create" asp-controller="Shop">Create Goods</a>
                </li>
                <li>
                    <a asp-action="Categories" asp-controller="Shop">Manage Categories</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <p class="display-4">Roles</p>
            <ul>
                <li>
                    <a asp-action="Roles" asp-controller="Admin">Manage Roles</a>
                </li>
            </ul>
            
        </div>
        <div class="col">
            <p class="display-4">Orders</p>
            <ul>
                <li>
                    <a asp-action="Orders" asp-controller="Admin">Manage Orders</a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
