@using WeedStore.Models.Order
@model List<OrderModel>

<div class="container">
    @foreach(OrderModel order in Model)
            {
    <div class="row">
        <div class="col">
            @order.Date
        </div>
        <div class="col">
            @order.UserId
        </div>
        <div class="col">
            @order.Sum
        </div>
        <div class="col">
            <a asp-action="OrderDetails" asp-controller="Admin" >Details</a> 
        </div>
    </div>
            }
</div>