@using WeedStore.Models.User
@model List<UserModel>
<div class="container">
    <p class="display-4 text-center">
        Users in Role:@ViewBag.RoleName
    </p>
    <div class="row">
        <form asp-action="AddUserToRole" asp-controller="Admin" method="post">
            <input name="UserName" />
            <input name="RoleName" value="@ViewBag.RoleName" />
            <input type="submit" value="Add This User To Role" />
        </form>
    </div>
    @foreach (UserModel user in Model)
    {
<form asp-action="DeleteUserFromRole" asp-controller="Admin" method="post">

    

    <div class="row p-4 m-4 border shadow">
        <div class="col-">
            <input name="UserId" value="@user.Id" disabled />
            
        </div>
        <div class="col ">
            <input name="RoleName" value="@ViewBag.RoleName" disabled />
        </div>
        <div class="col">
            <p>
                @user.UserName

            </p>
        </div>
        <div class="col-">
            <input type="submit" value="Delete From Role" class="btn btn-danger" />
        </div>
    </div>
</form>
    }

</div>