@using WeedStore.Models.Goods
@model List<GoodsModel>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            @foreach(GoodsModel goods in Model)
            {
                <div class="row mt-2">
                    <div class="col">
                        @goods.Name
                    </div>
                    <div class="col">
                        @goods.Price
                    </div>
                    <div class="col">
                        <a asp-action="DeleteFromCart" asp-controller="Shop" asp-route-id="@goods.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <form asp-action="MakeOrder" asp-controller="Shop" method="post">
                <div class="input-group">
                    <input class="input-group-text" name="Address" value="" />
                </div>
                <div class="input-group">
                    <input class="btn btn-primary" type="submit" value="Make Order" />
                </div>

                
            </form>
        </div>
    </div>
</div>