@using WeedStore.Models.Goods
@model List<CategoryModel>
<div class="container m-auto ">
    <p class="display-4 text-center">Categories</p>
    <div class="row m-4">
        <form asp-controller="Shop" asp-action="CreateCategory" method="post">
            <div class="input-group mb-3">

                <input name="Name" class="form-control mr-1" placeholder="Category Name" />
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
    
    @foreach (CategoryModel category in Model)
    {
        <div class="row">
            <div class="col">
                @category.Id
            </div>
            <div class="col">
                @category.Name
            </div>
            <div class="col">
                <a asp-action="DeleteCategory" asp-controller="Shop" asp-route-id="@category.Id" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    }
</div>