@model WeedStore.Models.Goods.GoodsModel

<div class="container">
    <form asp-controller="Shop" asp-action="Create" method="post">
        <label asp-for="Name">
            Name
        </label>
        <input asp-for="Name" />
        <label  asp-for="Count">
            Count
        </label>
        <input asp-for="Count" />
        <label  asp-for="Description">
            Description
        </label>
        <input asp-for="Description" />
        <label  asp-for="Category">
            Category
        </label>
        <input asp-for="Category" />
        <label  asp-for="Image">
            Image
        </label>
        <input asp-for="Image" />
        <label  asp-for="Price">
            Price
        </label>
        <input asp-for="Price" />
        <input type="submit" value="Create" />
    </form>
</div> 